input {
	box-sizing: border-box;
}

.container {
	width: 100%; /* Ширина 100% относительно родителя */
	max-width: 400px; /* Максимальная ширина контейнера */
	margin: 0 auto; /* Центрирование контейнера на странице */
	padding: 20px; /* Внутренние отступы */
}
body {
	background-color: rgb(42, 24, 0);
	text-align: center;
	color: black;
	font-size: 18px;
	font-weight: normal;
	font-family: 'Courier New', Courier, monospace;
	background-image: url('./background.jpg');
	background-size: cover; /* Растянуть изображение по всему экрану */
	background-position: center; /* Центрировать изображение */
	/*background-repeat: no-repeat;*/ /* Не повторять изображение */
	height: 100vh; /* Задает высоту body равной высоте видимой области окна браузера */
	margin: 0; /* Убирает отступы по умолчанию */
}
h1 {
	text-align: center;
	color: rgb(255, 170, 0);
	border-radius: 10px;
	box-shadow: 4px 4px 14px rgba(0, 0, 0, 025);

	font-family: 'Roboto', sans-serif;
	font-size: 36px; /* Увеличение размера шрифта для объема */
	font-weight: bold; /* Жирный шрифт для лучшего эффекта объема */
	text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.5),
		/* Основная тень */ 4px 4px 0 rgba(0, 0, 0, 0.3); /* Вторая тень для глубины */
}
h2 {
	margin: 0;
	margin-bottom: 10px;
	text-align: center;
	color: rgb(255, 170, 0);
	border-radius: 10px;
	box-shadow: 4px 4px 14px rgba(0, 0, 0, 025);

	font-family: 'Roboto', sans-serif;
	font-size: 22px; /* Увеличение размера шрифта для объема */
	font-weight: bold; /* Жирный шрифт для лучшего эффекта объема */
	text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.5), 4px 4px 0 rgba(0, 0, 0, 0.3); /* Вторая тень для глубины */
}

.question {
	background-color: rgba(255, 255, 255, 0.5);
	text-align: center;
	color: rgb(255, 111, 0);
	border-radius: 10px;
	box-shadow: 4px 4px 14px rgba(0, 0, 0, 025);
	width: 100%;
	font-family: 'Roboto', sans-serif;
	font-size: 32px; /* Увеличение размера шрифта для объема */
	font-weight: bold; /* Жирный шрифт для лучшего эффекта объема */
	text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.5), 4px 4px 0 rgba(0, 0, 0, 0.3); /* Вторая тень для глубины */
	margin-bottom: 10px;
}
.output {
	background-color: rgba(255, 255, 255, 0.5);
	text-align: center;
	color: rgb(255, 111, 0);
	border-radius: 10px;
	box-shadow: 4px 4px 14px rgba(0, 0, 0, 025);

	font-family: 'Roboto', sans-serif;
	font-size: 26px; /* Увеличение размера шрифта для объема */
	font-weight: bold; /* Жирный шрифт для лучшего эффекта объема */
	text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.5), 4px 4px 0 rgba(0, 0, 0, 0.3); /* Вторая тень для глубины */
}
input {
	text-align: center;
	width: 100%;
	height: 50px; /* Увеличивает ширину поля ввода */
	background-color: rgb(255, 140, 0);
	background: linear-gradient(45deg, rgba(255, 85, 0, 0.395), rgb(255, 140, 0));
	border-radius: 10px;
	box-shadow: 4px 4px 14px rgba(0, 0, 0, 025);
	font-size: 26px;
	margin-bottom: 10px; /* Отступ снизу для поля ввода */
	color: rgb(180, 174, 170);
	font-family: 'Roboto', sans-serif;
	font-size: 32px; /* Увеличение размера шрифта для объема */
	font-weight: bold; /* Жирный шрифт для лучшего эффекта объема */
	text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.5), 4px 4px 0 rgba(0, 0, 0, 0.3); /* Вторая тень для глубины */
}
/* Отключение стрелок для поля number */
input[type='number']::-webkit-outer-spin-button,
input[type='number'] {
	-webkit-appearance: none; /* Префикс для WebKit-браузеров (Chrome, Safari) */
	-moz-appearance: textfield; /* Префикс для Firefox */
	appearance: none; /* Стандартное свойство для поддержки современных браузеров */
}

button {
	width: 250px;
	height: 50px; /* Увеличивает ширину поля ввода */

	background: linear-gradient(45deg, rgba(255, 85, 0, 0.795), rgb(255, 140, 0));
	color: rgb(255, 255, 255);
	border-radius: 10px;
	box-shadow: 4px 4px 14px rgba(0, 0, 0, 025);
	margin-bottom: 10px;

	color: rgb(180, 174, 170);
	font-size: 26px;
	font-weight: bold;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5), 2px 2px 0 rgba(0, 0, 0, 0.3); /* Тень для объема */
}

.big-number {
	background-color: rgba(255, 255, 255, 0.5);
	text-align: center;
	color: rgb(255, 111, 0);
	border-radius: 10px;
	box-shadow: 4px 4px 14px rgba(0, 0, 0, 025);
	font-size: 150px; /* Большой размер цифры */
	font-weight: bold; /* Толстый шрифт */
	color: #bc5800; /* Основной цвет */
	text-align: center; /* Центрирование текста */
	text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5); /* Тень для объёмности */
	line-height: 1; /* Убираем лишний интервал */
	font-family: Arial, sans-serif; /* Простой, но чёткий шрифт */
	margin-bottom: 10px;
}
/* .settings {
	text-align: center;
	width: 100%;

} */
.settings select {
	background-color: rgba(255, 255, 255, 0.5);
	margin: 0;
	margin-bottom: 10px;
	text-align: center;
	color: rgb(255, 170, 0);
	border-radius: 10px;
	box-shadow: 4px 4px 14px rgba(0, 0, 0, 025);

	font-family: 'Roboto', sans-serif;
	font-size: 26px; /* Увеличение размера шрифта для объема */
	font-weight: bold; /* Жирный шрифт для лучшего эффекта объема */
	text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.5), 1px 1px 0 rgba(0, 0, 0, 0.3);
}

.timer {
	text-align: center;
	width: 100%;
	height: 50px; /* Увеличивает ширину поля ввода */
	line-height: 50px;
	background-color: rgb(255, 140, 0);
	background: linear-gradient(45deg, rgba(255, 85, 0, 0.395), rgb(255, 140, 0));
	border-radius: 10px;
	box-shadow: 4px 4px 14px rgba(0, 0, 0, 025);
	font-size: 26px;
	margin-bottom: 10px; /* Отступ снизу для поля ввода */
	color: rgb(180, 174, 170);
	font-family: 'Roboto', sans-serif;
	font-size: 32px; /* Увеличение размера шрифта для объема */
	font-weight: bold; /* Жирный шрифт для лучшего эффекта объема */
	text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.5), 4px 4px 0 rgba(0, 0, 0, 0.3); /* Тень для объема */
	border: 2px solid rgba(255, 255, 255, 0.5); /* Обводка толщиной 2px, черного цвета */
}
/* .min,
.sec,
.m-sec,
.dot {
	text-align: center;
	background-color: transparent; 
	font-size: 32px;
	color: rgb(180, 174, 170);
	font-weight: bold;
	margin: 0;
} 
*/
