* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#root {
	background-color: #4caf50;
	width: 100%; /* Ширина 100% относительно родителя */
	margin: 0 auto; /* Центрирование контейнера на странице */
	padding: 20px; /* Внутренние отступы */
}

.App {
	background-color: rgb(255, 146, 3);
	text-align: center;
	color: black;
	font-size: 28px;
	font-weight: normal;
	font-family: 'Courier New', Courier, monospace;
	background-size: cover; /* Растянуть изображение по всему экрану */
	background-position: center; /* Центрировать изображение */
	/*background-repeat: no-repeat;*/ /* Не повторять изображение */

	margin: 0; /* Убирает отступы по умолчанию */
}
@media only screen and (max-width: 600px) {
	.lesson-list,
	.lesson-list thead,
	.lesson-list tbody,
	.lesson-list th,
	.lesson-list td,
	.lesson-list tr {
		display: block;
	}

	.lesson-list tr {
		margin-bottom: 10px;
	}

	.lesson-list td {
		text-align: left; /* Выравнивание по левому краю */
		padding-left: 10px; /* Убираем большое смещение */
		position: relative;
	}

	.lesson-list td::before {
		content: attr(data-label);
		position: absolute;
		left: 0;
		width: 100%;
		font-weight: bold;
		text-align: left; /* Заголовки тоже по левому краю */
	}

	.lesson-list th {
		display: none; /* Убираем заголовки таблицы */
	}
}

.play-button {
	background-color: transparent;
	border: none;
	cursor: pointer;
	color: blue;
}
