/* Task.module.css */
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  max-width: 640px;
  align-items: center;
}

/* Изменение вида спарсенного HTML */
.container p span {
  display: block;
}

.container > div {
  width: 100%;
  align-self: stretch;
}

.title {
  font-size: 1rem;
  text-align: center;
  font-weight: bold;
  margin-bottom: 1rem;
}

.taskSolution {
  margin-top: 1.5rem;
  padding: 1rem;
  border: 1px solid var(--border-color);
  border-radius: 0.5rem;
  width: 100%;
}

.taskSolution h3 {
  margin-bottom: 0.5rem;
  font-size: 1.25rem;
  font-weight: 600;
}

.taskSolution img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin: 0.5rem 0;
}

label.input {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

label.input input {
  padding: 0.5rem;
  border-radius: 0.2rem;
  border: 1px solid var(--border-color);
  background-color: var(--input-bg);
  color: var(--foreground);
  font-size: 1rem;
}
